[run]
omit =
    *tests.py
branch = True
source =
    tornadoes/__init__.py
    tornadoes/models.py

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    raise NotImplementedError
    if __name__ == .__main__.:
    from urllib.parse import parse_qs
    except ImportError:
